@use './variables' as vars;

@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

body {
  font-size: vars.$fontSize-default;
  font-family: vars.$fontFamily-default;
  color: vars.$color-default;
  background-color: vars.$bgColor-default;
}
